name: docker image build for test

on:
  push:
    tags:
      - freeswitch-*

env:
  IMAGE_NAME: freeswitch
  API_KEY_FROM_SIGNALWIRE: ${{ secrets.FREESWITCH_REPO_ACCESS_TOKEN }}
  
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.git_info.outputs.version }}
    steps:
      - uses: actions/checkout@v2

      - id: git_info
        run: |
          echo "version=${GITHUB_REF#refs/tags/freeswitch-}" >> $GITHUB_OUTPUT
      - id: git_info2
        run: |
          echo ::set-output name=version::${whoan/docker-build-with-cache-action#refs/tags/v5.11.}

      - run: echo ${{ steps.git_info.outputs.version }} 
      - run: echo ${{ steps.git_info2.outputs.version }} 
      - run: echo ${{ secrets.FREESWITCH_REPO_ACCESS_TOKEN }} 
      - run: echo $API_KEY_FROM_SIGNALWIRE

      - uses: whoan/docker-build-with-cache-action@v5
        env: # Or as an environment variable
          API_KEY_FROM_SIGNALWIRE: ${{ secrets.FREESWITCH_REPO_ACCESS_TOKEN }}
        with:
          registry: ${{ secrets.REGISTRY_HOST }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
          image_name: tools/${{ env.IMAGE_NAME }}
          context: ./freeswitch
          image_tag: ${{ steps.git_info.outputs.version }}
          build_extra_args:  --build-arg=FREESWITCH_IMAGE_TAG=${{ steps.git_info.outputs.version }}
          push_image_and_stages: false
